.autofill {
  align-items: center;
  border: 2px solid #8b93b9;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.autofill__trigger {
  align-items: top;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  min-height: 30px;
  padding: 0.5rem;
  width: 100%;
}

.autofill__popover {
  background-color: white;
  border: 2px solid #8b93b9;
  border-radius: 0.5rem;
  max-height: 300px;
  overflow-y: scroll;
  width: 500px;
}

.autofill__option {
  align-items: center;
  border-bottom: 2px solid #8b93b9;
  cursor: pointer;
  display: flex;
}

.autofill__option--navigated {
  background-color: #e9eaef;
}

.autofill__option:nth-last-child(1) {
  border-bottom: none;
}

.autofill__option-img {
  height: 50px;
  margin: 0.5rem;
  width: 50px;
}

.autofill__option-name {
  color: black;
}

.autofill__option-name__highlight {
  font-weight: bolder;
}

.autofill__option-episode {
  color: darkgray;
  font-size: 0.8rem;
}

.autofill-field__values {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  gap: 0.25rem;
  max-width: 50%;
}

.autofill-field__value {
  align-items: center;
  background-color: #afb3ca;
  border-radius: 0.25rem;
  color: #515467;
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  text-wrap: nowrap;
}

.autofill-field__value--navigated {
  border: 2px solid #8b93b9;
}

.autofill-field__value__remove {
  background-color: #8b93b9;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  margin-left: 0.25rem;
  padding: 0.125rem;
}

.autofill__input {
  all: unset;
  background: none;
  color: black;
  display: inline-block;
  margin-left: 0.25rem;
  max-height: 30px;
  min-width: 0;
  width: 100%;
}

.autofill__input__caret {
  color: black;
  height: 20px;
  margin-top: 5px;
  min-height: 20px;
  min-width: 20px;
  width: 20px;
}